*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 16vh;
     background: linear-gradient( rgba(255, 0, 40, 0.08), transparent 30%),linear-gradient(315deg, rgba(255, 0, 40, 0.08), transparent 30%),#0c090c
    
}
header img{
    width: 15%;
    height: 50px;
}
.menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu span {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}


section{
    width: 100%;
    height: 35vh;
    float: left;
    padding: 1%;
}

#cs2{
   background: linear-gradient(to right, #700909cb, #161516);
}
#valorant{
    background: linear-gradient(to right, #700909cb, #161516);
}
.skin{
    width: 18%;
    height: 30vh;
    background: #ffffff;
    margin-left: 1.6%;
    margin-top: 0.5vh;
    float: left;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img{
    width: 90%;
    justify-content: center;
    display: flex;
    align-items: center;
}
footer {
    width: 100%;
    height:15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: linear-gradient( #ff002814, transparent 30%),linear-gradient(315deg, rgba(255, 0, 40, 0.08), transparent 30%),#0c090c;
    
  
}
footer h1{
    font-size: 30px;
    font-weight: 800; 
    color: #ff1744;
    margin-left: 37%;
}


